<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>PSI Chat</title>
	<script src="/psi/js/webSocket.js"></script>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
	<div class="container my-2">
		<!-- Header -->
		<div th:include="header :: header"></div>
		<!-- Content -->
		<h1>Chat</h1>
		<div>
            <form id="chatRoomForm" onsubmit="return false;">
            	<div class="form-group">
                <fieldset>
                    <legend>聊天室</legend>
                    <div class="form-group">
                    <input type="text" id="userNameInput" placeholder="請輸入名稱" />
                    </div>
                    <div class="form-group"> 
                    <input type="button" id="loginBtn" value="登入" class="pure-button pure-button-primary" /> 
                    </div>
                    <span id="infoWindow"></span>
                    <p />    
                    <input type="text" id="userinput" placeholder="請輸入訊息" /> 
                    <input type="submit" value="送出訊息" class="pure-button pure-button-primary" />
                </fieldset>
                </div>
            </form>
        </div>
        <div id="messageDisplay"></div>
		<!-- Footer -->
		<div th:include="footer :: footer"></div>
	</div>
</body>
</html>