<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Hello Thymeleaf</title>
</head>
<body>
	<div>0</div>
	<div th:text="${2+3}">0</div>
	<div th:text="'age = ' + ${10+8}">0</div>
	<div th:text="${time}">What time is it?</div>
	<div th:text="${user}">user?</div>
	<div th:text="${user.id}">user id?</div>
	<div th:text="${user.name}">user name?</div>
	<div th:text="${user.age}">user age?</div>
	<div th:text="${user.birth}">user birth?</div>
	<div th:text="${#dates.format(user.birth, 'yyyy-MM-dd')}">user birth?</div>
	<form th:object="${user}">
		id: <input type="number" th:value="*{id}" value="0" /><p />
		name: <input type="text" th:value="*{name}" value="0" /><p />
		age: <input type="number" th:value="*{age}" value="0" /><p />
		birth: <input type="date" th:value="*{#dates.format(birth, 'yyyy-MM-dd')}" value="0" /><p />
	</form>
</body>
</html>