<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>PSI 供應商資料表</title>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
	<div class="container my-2">
		<!-- Header -->
		<div th:include="header :: header"></div>
		<!-- Content -->
		<h1>新增供應商</h1>
		<form action="#" th:action="@{/supplier/}" th:object="${supplier}" method="post">
			<div class="form-group">
				<label>供應商名稱:</label>
				<input type="text" th:field="*{name}" id="name" class="form-control" placeholder="請輸入供應商名稱">
			</div>
			<input type="submit" value="新增供應商" class="btn btn-primary" />
		</form>
		<p />
		<h1>全部供應商列表</h1>
		<table border="1" class="table table-striped table-reposive-md">
			<thead>
				<tr>
					<th>序號</th>
					<th>供應商名稱</th>
					<th>商品集合</th>
					<th>編輯</th>
					<th>刪除</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="supp : ${suppliers}">
					<td th:text="${supp.id}"></td>
					<td th:text="${supp.name}"></td>
					<td>
						...
					</td>
					<td><a th:href="@{/supplier/edit/{id}(id=${supp.id})}" class="btn btn-primary">編輯</a></td>
					<td><a th:href="@{/supplier/delete/{id}(id=${supp.id})}" class="btn btn-danger">刪除</a></td>
				</tr>
			</tbody>
		</table>
		<!-- Footer -->
		<div th:include="footer :: footer"></div>
	</div>
</body>
</html>